@page
@model SV.Maat.Users.Models.AccessTokenViewModel
@{
}

            <tr>
                <td>@Html.DisplayFor(m => m.Name)</td>
                <td>@Html.DisplayFor(m => m.Token)</td>
            </tr>


