@model SV.Maat.Entries.Models.Entry;
@{
    Layout = "_Layout";
    ViewBag.Title = $"{Model.PublishedAt.ToString("G")}";
}

    <div class="timeline">
        @await Html.PartialAsync("_entry", Model)

    </div>


