@page


@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="authorization_endpoint" href="@ViewBag.auth_endpoint">
    <link rel="token_endpoint" href="@ViewBag.token_endpoint">
    <link rel="micropub" href="@Url.Action("Publish", "Micropub")">
</head>
<body>
    <form method="POST">
        <input type="hidden" name="id" value="@ViewBag.id" />
        <p>
            <label for="name">Account Name</label><br />
            <input name="name" />
        </p>
        <p>
            <label for="identity">Identity</label><br />
            <input name="identity" />
        </p>
        <p>
            <label for="secret">Secret</label><br />
            <input name="secret" type="password" />
        </p>
        <input type="submit" value="save" />
    </form>
</body>
</html>